.git
.github
!.github/setup-workspace.sh
target

sdk/node
sdk/python/.venv
sdk/python/venv
sdk/python/.mypy_cache
sdk/python/.pytest_cache
sdk/python/.ruff_cache
sdk/python/target
sdk/python/build
sdk/python/dist
sdk/python/*.so

**/__pycache__
**/.DS_Store
