# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Read-only release snapshots
docs/v6.5.0/
docs/v6.5.1/
docs/v6.5.2/
docs/v6.6.0/
docs/v6.7.0/
docs/v6.8.0/
docs/v6.9.0/
docs/v7.0.1/
docs/v8.0.0/
docs/v8.1.0/
docs/v8.2.0/
docs/v8.3.0/
docs/v8.4.0/
docs/v8.5.5/
docs/v8.6.0/
